@charset "utf-8";
#menu a {display:block;position:relative;top:-5px;}
#menu ul {position: static;}
.pager li.pager-current{margin-top:3px;padding:3px 6px;}
.pager li.pager-item,.pager li.pager-next, .pager li.pager-last { margin-top:3px;padding:3px 6px;}
