@charset "utf-8";
/***********************************************************************/
/*	Reset Style
/* 	Based on Eric Meyers Reset Reloaded 
/* 	http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/
/***********************************************************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,  del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,  fieldset, form, label, legend {
	margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;letter-spacing: normal;word-spacing: normal;}
img {margin: 0;padding: 0;border: 0;outline: 0;background: transparent;}
body {line-height: 1.5;}
table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;outline: 0;}
tbody {margin: 0;padding: 0;border: 0;outline: 0;}
td {padding: 1px;}
ul {list-style:disc;}
ol {list-style:decimal;}
blockquote, q {	quotes: none;}
:focus {outline: 0;}
ins {text-decoration: none;}
del {text-decoration: line-through;}
