/***********************************************************************/
/*
/*	Solidier v1.3
/*	
/*	Colors used in this theme:
/*			Light Khaki = #AA9A5A
/*			Dark Khaki = #907F3A 
/*			Light Green = #9AA76A
/*			Medium Green = #687241
/*			Dark Green = #56611E
/*			Dark Brown = #202B03
*/
/***********************************************************************/

table {border-spacing: 0;border-collapse:collapse;}
tr {background-color:#687241;}
td, th {border:1px solid #ccc;color:#000;padding:2px;}
th {background: url("./images/contenttitlebar.jpg") 0 50%;padding:2px;color:#fff; text-align:center;}
td a {color:#000;text-decoration:none;}
td.active {background-color:#9AA76A;color:#000;}
tr.dblog-page-not-found .active, tr.dblog-access-denied .active, tr.dblog-error .active , tr.dblog-user .active{background-color:#56611E;color:#000;}
tfoot tr {background-color:#6D7C3D;}
tr.odd {background-color:#798352;}
tr.even {background-color:#9AA76A;}
.update tr.odd {background-color:#798352;}
.update tr.even {background-color:#9AA76A;}


body {background: #000 url("./images/bg.gif") repeat top left;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #aaa;
}

h1 {font-size: 2.0em;}
h2 {font-size: 1.5em;}
h3 {font-size: 1.3em;}

ul, ol, dl {
	margin-top: .5em;
	line-height: 180%;
	margin-bottom:.5em;
}
p {
	margin-top: .7em;
	line-height: 180%;
	margin-bottom:.7em;
}
dt {
	color:#AA9A5A;
}
dd {
	margin-bottom:.5em;
	margin-left:1em;
	border-left:1px solid #666;
	padding-left:5px;
}
ul, ol {
	margin-left: 3em;
}
blockquote {
	margin-left: 3em;
	margin-right: 3em;
}
a:link, a:visited, a:active {
	color: #CCC;
	text-decoration: none;
	border-bottom:1px dotted #666;
}
a:hover {
	color: #FFFFFF;
	border-bottom:none;
	text-decoration: none;
}
strong {
	font-weight:bold;
	color:#907F3A;
}
label {
	color:#fff;
	padding:0;
	float:left;
	clear:both;
	margin:2px 5px;
}
input[type=text], input[type=password], textarea {
	font-weight:bold;
	font-family:"Trebuchet MS", "Times New Roman", Times, serif;
	background-color:#AA9A5A;
	color:white;
	border:0;
	padding:5px;
	clear:left;
	width:60%;
}
select {
	background-color:#AA9A5A;
	border:1px solid #454545;
	clear:left;
	color:white;
	font-family:"Trebuchet MS","Times New Roman",Times,serif;
	font-weight:bold;
	padding:0 2px;
}
option {padding-left:10px;padding-right:10px;}
input[type=submit]  {
	font: bold 1.2em "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:white;
	background-color:#907F3A;
	padding:5px 0px;
	margin:10px 0 10px 55%;
	border: 1px solid #454545;
	width:30%;
}
input[type=button] {
	font: bold 1.2em "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:white;
	background-color:#907F3A;
	padding:5px 0px;
	margin:10px 0 10px 55%;
	border: 1px solid #454545;
}

fieldset {border:none;}
textarea {margin-left:5px;}

li a.active {color:#ccc;}
/***********************************************************************/
/* Layout 
/***********************************************************************/

#wrap {
	margin-top:15px;
	margin-bottom:15px;
}
#page {
	width: 918px;
	margin: 0 auto;
	padding: 20px;
	background: #202B03 url("./images/contentbg.gif") repeat top left;
	border: 1px solid #454545;
	border-bottom: 4px solid #454545;
	border-right: 2px solid #454545;
}
#header {
	width: 958px;
	height: 150px;
	margin: 0 auto;
	background: #1C3519 url("./images/header.jpg") repeat top left;
	border: 1px solid #454545;	
}
#menu {
	width: 960px;
	height: 45px;
	margin: 0 auto;
	background:#687241 url("./images/blocktitlebar.jpg") repeat top left;
	border-top:1px solid black;
}
#allTabs {
	width: 600px;
	height: 34px;
	margin: 0 auto;
	padding:0;
	color:#000;
	white-space : nowrap;
}
#main-content {
	float: left;
	width: 605px;
}
#sidebar {
	float: right;
	width: 295px;
	padding:0;
	margin:0;
}
#footer {
	width: 960px;
	margin: 0 auto;
	padding: 20px 0;
}

#mission {
	font-weight: bold;
	border:1px solid black;
	background-color:#56611E;
	margin:0px auto 20px auto;
	padding: 5px 5px 15px 10px;
	border:1px solid #AA9A5A;
	font-style:italic;
}


/***********************************************************************/
/* Header 
/***********************************************************************/

#header h1, #header h2 {
	margin: 0;
	color: #FFFFFF;
}
#header h1 {
	text-transform: uppercase;
	padding: 35px 0 0 55px;
	font-size: 3em;
}

#logo {
	margin:1em;
	float:left;
}

#header h1 a {
	border:0;
}
#header h2 {
	padding: 0 0 0 75px;
	font-size: 1.8em;
	font-style: italic;
}
#header a {
	text-decoration: none;
	color: #FFFFFF;
}


/***********************************************************************/
/* Menu 
/***********************************************************************/

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
	position: relative; 
	left: -135px;	
}
#menu li {
	float: left;
	padding: 12px 10px 0 20px;
}
#menu a {
	text-decoration: none;
	letter-spacing: -1px;
	font-size: 1.2em;
	font-weight: bold;
	padding:3px 7px;
	border:1px solid #687241;
}
#menu a.active {
	text-decoration: none;
	letter-spacing: -1px;
	font-size: 1.2em;
	font-weight: bold;
	border:1px solid black;
	background-color:#56611E;
	color:white;
}
#menu a:hover {
	border:1px solid black;
	background-color:#56611E;
}


/***********************************************************************/
/* Tabs
/***********************************************************************/

#allTabs ul {
	height: 25px;
	font-size:12px;
	list-style:none;
	letter-spacing:1px;
	white-space : nowrap;
	margin:0 0 0 20px;
	vertical-align:middle;
}
#allTabs a {
	float:left;
	display:block;
	text-decoration:none;
	color:#000;
	padding:0 5px;
	border:none;
	background-color: transparent;
}
#allTabs li {
	float:left;
	background-color:#56611E;
	margin:5px 5px 5px 0px;
	border:1px solid #687241;
}
#allTabs li a:hover, #allTabs li a.active, #allTabs li:hover, #allTabs li.active {
	background-color:#9AA76A;
}

/***********************************************************************/
/* Search
/***********************************************************************/

#block-search-0 .content {padding-left:10px;}


/***********************************************************************/
/* Pager
/***********************************************************************/
.pager {
	border:1px solid #454545;
	width:605px;
	float:right;
	background:transparent url(./images/blocktitlebar.jpg) repeat scroll 0 50%
}
.pager ul {}
.pager li {	float: left; margin:0;}

.pager a {	
	background-color:transparent;
	border:1px solid #687241;
	color:#ccc;
	font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
	font-size:1.2em;
	text-decoration: none;
	letter-spacing: -1px;
	padding:4px 8px;
}

.pager a:hover {
	border:1px solid #000;
	background-color:#56611E;
	color:#fff;
}
.pager li.pager-current{	
	border:1px solid black;
	background-color:#56611E;	
	letter-spacing: -1px;
	padding: 3px 8px;
	margin-top:6px;
	margin-right:5px;
	color:#fff;
}	
.pager li.pager-item,.pager li.pager-next, .pager li.pager-last {
	margin-top:8px;
	padding: 2px 6px;
	letter-spacing: -1px;	
}


/***********************************************************************/
/* Theme Switch Module
/***********************************************************************/
#switchtheme-switch-form {margin-left:10px;}


/***********************************************************************/
/* Content
/***********************************************************************/

.node, .admin, .node-form, .box {
	margin-bottom: 40px;
	border-left: 1px solid #454545;
	border-right: 1px solid #454545;
	background-color:#202B03;
}

.node h2, .box h2  {
	background: url("./images/blocktitlebar.jpg") 0 50%;
	border-left:none;
	border-right:none;
	border-bottom: 1px solid #454545;
	margin-bottom:0;
	padding-left:5px;
	color:#ccc;
}

.form-item {clear:left;}

.node h2 a {
	text-decoration: none;
	border-bottom:none;
}
.node a, .admin a {
	font-weight: bold;
}
.node .submitted {
	padding: 0 20px;
}
.node .info {
	padding: 0 20px;
}
.node .meta {
	line-height: normal;
	border-bottom: 1px solid #454545;
	padding: 5px 5px 15px 10px;
}
.node .terms {
}
.node .links {
	padding:0;
}
.preview .node  {	background-color:#202B03;}
.menu a {
	border:none;
}
#circuithead {
	clear:both;
	font-size:10px;
	color:#666;
	display:block;
	float:right;
}
#circuithead a {
	color:#666;
	border:0;
}
#circuithead a:hover {
	color:#bbb;
	border:0;
	border-bottom:1px dotted #bbb;
}

.comment_add a {
	background: url("./images/comment.gif") no-repeat left 50%;
	padding-left:20px;
}
.comment {
	margin-bottom: 5px;
	border: 1px solid #454545;
	padding: 5px 10px 10px 10px;
}
#comments h3 {
	background: url("./images/blocktitlebar.jpg") 0 50%;
	border-left:none;
	border-right:none;
	border-bottom: 1px solid #454545;
	margin-bottom:0;
	padding-left:5px;
	color:#ccc;
}

.comment .links a {
	font-weight: bold;
}
.comment .info {
	margin:0;
}
.comment p {
	margin-top:.5em;
}

#comments .odd {	background-color:#313c14;	
}
#comments .even {	background-color:#424d25;	
}
#comments .picture {float:right;margin:10px;}

.block {
	background-color:#6D7C3D;
	margin:0 auto 25px auto;
	padding: 0 0 15px 0;
}
.block h2 {
	height: 24px;
	padding: 0 20px 5px 20px;
	background: #586639 url("./images/contenttitlebar.jpg") 0 0;
	border-bottom:2px solid black;
	margin: 0 0 10px 0;
}

.block form {
	padding:10px 0;
}

.messages {
	margin-bottom: 5px;
	border: 1px solid #454545;
	padding: 5px 10px 10px 10px;
	background-color:#202B03;
}

.help {
	margin-bottom: 5px;
	border: 1px solid #454545;
	padding: 5px 10px 10px 10px;
	background-color:#202B03;
}

#footer-message p {
	margin: 0;
	line-height: normal;
	text-align: center;
	font-size:8px;
}
#user-login-form .item-list li {
	list-style: none;
	margin-left:0px;
	padding-left:0;
}

.grippie {margin-left:5px;background-color:#907F3A;}

.error { }
.error a { color:#333;}
#blocks td {background-color:#9AA76A;}
.tips {clear:left;}



/***********************************************************************/
/* Forum
/***********************************************************************/

#forum td {
	margin-bottom: 5px;
	border: 1px solid #454545;
	padding: 5px 10px 10px 10px;
	background-color:#202B03;
	color:#AA9A5A;
	width:90%;
}
#forum td.icon {
	width:25px;
}


/***********************************************************************/
/* Trackback Module
/***********************************************************************/
#trackback-url .box  {
	margin-bottom: 40px;
	background-color:#202B03;
	border:0;

}

#trackback-url .box h2 {
	margin-top:2.5em;
	background-image:none;
	margin-bottom:0;
	color:#907F3A;
	border:0;
	padding-left:0;
}

/***********************************************************************/
/* Event Module
/***********************************************************************/

#block-event-0 {
	margin:0;
	padding:0;
}

.event-calendar {
	width:97%;
	padding:5px 0 0 2px;
	margin:0 0 25px 0;
	position:relative;
	left:5px;
	/* previous style for v1.2
	background-color:#687241;
	border:1px solid #454545;
	*/
}
.event-calendar td {
	color:#ddd;
	background-color:#687241;
	text-align:center;
	vertical-align:middle;
}


.day-view td {
	color:#ddd;
	background-color:#687241;
	text-align:center;
	vertical-align:middle;
	border:none;
}

.day-view th {
	border:none;

}
.day-view tr.even, .day-view tr.odd {
	border:none;

}
.day-view .event a:hover {color:#fff;}

.event-calendar td.sat, .event-calendar td.sun {
	background-color:#798352;
}
.event-calendar td.today {
	background-color: #AA9A5A;
}
.event-calendar td.selected {
	background-color:#AA9A5A;
}
.event-calendar th {
	background-color:#AA9A5A;
	border:1px solid #ccc;
	padding:0;
}
.event-calendar caption {
	height:40px;
	vertical-align:middle;
	font-size:1.2em;

	border-bottom:1px solid #ccc;
}
.event-calendar div.day {
	background-color:transparent;border:0;
}
.event-nodeapi div {color:#AA9A5A;}

.event-calendar td a {
	color:white;
	display:block;
	background-color:#9AA76A;
	padding:0px 2px;
	border:0;
}
.event-calendar .title {
	background-color:#9AA76A;
}
.event-calendar .dtstart {
	background-color:#9AA76A;
}
.event-calendar .dtend {
	background-color:#9AA76A;
}
.event-calendar .description {
	background-color:#9AA76A;
}
.event-calendar .dayview {
	background-color:#9AA76A;
}
.event-calendar .content {
	border:0;
}
.event-calendar div.event {
	background-color:#9AA76A;
	margin:0;
	padding:0;
	border:none;
}
.event-calendar div.title a {color:#333;}
.event-calendar div.title a:hover {color:#fff;text-decoration:none;}

.day .monthview .start {display:none;}
.day .monthview .end {display:none;}
.event-calendar .event .stripe-1 {background-color:#333;}
/***********************************************************************/
/* World Clock Module
/***********************************************************************/

#wordclock {
	position:relative;
	top:5px;
	left:4px;
	width:97%;
	border:1px solid #ccc;
}
#wordclock td {
	background-color:#687241;
	color:#ccc;
}


/***********************************************************************/
/* Poll Module
/***********************************************************************/

div.poll {
padding:10px;
}
div.poll div.foreground {
	background:none;

}

div.poll div.bar {
	background-color:#907F3A;
	border:2px solid #687241;

}
div.poll div.percent {
	color:#202B03;
}




/***********************************************************************/
/* Generic Classes
/***********************************************************************/

.floatright {
	float:right;
}
.floatleft {
	float:left;
}
.clearright {
	clear:right;
}
.clearleft {
	clear:left;
}
.clearall {
	clear:both;
}
.centertext {
	margin-left:auto;
	margin-right:auto;
	width:40%;
}
.contentimage {
	border:2px solid #687241;
	margin:10px;
}
